<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="upper_rails" params="parent_link xyz rpy">

    <link name="upper_rails_link">
      <collision>
        <geometry>
          <mesh filename="file://$(find ur_components_description)/meshes/upper_rails.stl" />
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy=" 0.0 0.0 0.0" />
      </collision>

      <visual>
        <geometry>
          <mesh filename="file://$(find ur_components_description)/meshes/upper_rails.dae" />
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </visual>
    </link>

    <joint name="${parent_link}_to_upper_rails_link_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="upper_rails_link" />
    </joint>

  </xacro:macro>
</robot>
